/* Colors */
$white: #fff;
$black: #333;
$blue: #5020ee;
$light-blue: #F5F2FE;
$red: #ff3366;
$light-grey: #e3e3e3;
$medium-grey: #828282;

/* Buttons  */

.btn {
  font-size: 13px;
  padding: .3rem .8rem;

  border: 2px solid $black;
  border-radius: 30px;
  background-color: $white;

  cursor: pointer;
  transition: all 200ms ease;

  &:hover {
    color: $white;
    background-color: $black;
    transition: all 300ms ease;
  }

  &.btn-blue {
    color: $blue;
    border-color: $blue;

    &:hover {
      color: $white;
      background-color: $blue;
    }
  }

  &.btn-red {
    color: $red;
    border-color: $red;

    &:hover {
      color: $white;
      background-color: $red;
    }
  }

  &.btn-grey {
    color: $medium-grey;
    border-color: $light-grey;

    &:hover {
      border-color: $blue;
      color: $white;
      background-color: $blue;
    }
  }

  &.btn-small {
    padding: .15rem .6rem;
  }

  &.btn-big {
    font-size: 14px;
    font-weight: 600;
    padding: .6rem 1.2rem;
  }

  &.btn-primary {
    font-weight: 400;
    background-color: $blue;
    color: $white;

    &:hover {
      border-color: $white;
    }
  }


  &.btn-icon {
    &::before {
      margin-right: .4rem;
      color: $blue;
      font-weight: 600;
    }

    &:hover {
      border-color: $blue;

      &::before {
        color: $white;
      }
    }
  }

  &.btn-create-task {
    &::before {
      content: "'↵'";
    }
  }

  &.btn-create-project {
    &::before {
      content: "'↑'";
    }
  }

  &.btn-done {
    &::before {
      content: "✓";
    }
  }

  &.btn-red {
    &.btn-done {

      &::before {
        color: $red;
      }

      &:hover {
        border-color: $red;
        &::before {
          color: $white;
        }
      }
    }
  }

  &.btn-done-tiny {
    padding: 0;
    height: 30px;
    width: 30px;
    &::before {
      content: "✓";
      margin-right: 0;
    }
  }

  &.btn-add {
    &::before {
      content: "+";
    }
  }
}


/* Typography */

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: $medium-grey;
}

h1, h2, h3, .h1, .h2, .h3 {
  // margin: 0;
}

h1,
.project-title {
  font-size: 32px;
  font-weight: normal;
  color: $light-grey;
}

h2,
.task-title {
  font-size: 18px;
  font-weight: normal;
  color: $medium-grey;
}

h3,
.sub-title {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: $light-grey;
}

p,
.text {
  font-size: 14px;
  line-height: 1.4;
  color: $medium-grey;
  margin-top: 0;
}

label {
  font-size: 14px;
  color: $medium-grey;
}

a {
  font-size: inherit;
  color: $blue;

  text-decoration: none;
  border-bottom: 2px solid transparent;

  &:hover {
    border-color: $blue;
    transition: all 300ms ease;
  }
}


// Layout

.page-wrapper {
  display: flex;
  flex-direction: column;

  .header-wrapper {
    display: flex;
    justify-content: space-between;

    .header-logo {

    }
    .header-menu {

    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    .main-wrapper {
      flex: auto 1;
    }
    .sidebar-wrapper {
      width: 230px;
    }
  }
}

// components

.breadcrumb {

}

.add-task {
  display: flex;
  align-items: center;



  input {
    z-index: 0;
    width: 100%;
    background-color: $light-blue;
    border: none;
    border-radius: 20px;
    padding: .5rem 1.2rem .5rem 4rem;
    margin-left: -2.1rem;

    color: $blue;
    font-size: 18px;
    border: 1px solid transparent;

    transition: all 400ms ease;

    &::placeholder {
      color: $medium-grey;
      font-size: 14px;
      font-style: italic;
    }

    &:focus {
      outline: none;
      outline: 0;
      box-shadow: none;

      background: $white;
      border: 1px solid $light-blue;

      transition: all 400ms ease;
    }
  }
}

.comment-icon {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 16px;
  background-color: $light-grey;
  color: $blue;
  font-size: 12px;
  text-align: center;

  cursor: pointer;

  &::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: calc(50% - 4px);
    top: 100%;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: $light-grey transparent transparent transparent;
  }

  &:hover,
  &.unread {
    background-color: $blue;
    color: $white;

    &::after {
      border-color: $blue transparent transparent transparent;
    }
  }

  &.read{
    background-color: $light-grey;
    color: $black;

    &::after {
      border-color: $light-grey transparent transparent transparent;
    }
  }
}


.category {
  display: inline-block;

  font-size: 13px;
  padding: .15rem .6rem;

  color: $medium-grey;
  border: 1px solid $light-grey;
  border-radius: 30px;
  background-color: $white;

  &:hover {
    &::after {
      content: "×";
      cursor: pointer;
      color: $red;
      padding: 0 .2rem 0 .5rem;
    }
  }
}

.category + .category {
  margin-left: .2rem;
}

.task {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  position: relative;

  cursor: grab;

  .add-task-icon {
    display: none;
    position: absolute;
    left: -4.5em;
    top: 16px;
  }

  &::before {
    display: none;
    content: "";
    position: absolute;
    width: 12px;
    height: 17px;
    left: -2em;
    top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='17' width='11'%3E %3Cdefs%3E %3Cellipse id='ellipse-0' opacity='1' rx='1.5' ry='1.5' cx='1.5' cy='1.5'/%3E %3Cellipse id='ellipse-1' opacity='1' rx='1.5' ry='1.5' cx='9.5' cy='1.5'/%3E %3Cellipse id='ellipse-2' opacity='1' rx='1.5' ry='1.5' cx='1.5' cy='8.5'/%3E %3Cellipse id='ellipse-3' opacity='1' rx='1.5' ry='1.5' cx='9.5' cy='8.5'/%3E %3Cellipse id='ellipse-4' opacity='1' rx='1.5' ry='1.5' cx='1.5' cy='15.5'/%3E %3Cellipse id='ellipse-5' opacity='1' rx='1.5' ry='1.5' cx='9.5' cy='15.5'/%3E %3C/defs%3E %3Cg opacity='1'%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23ellipse-0' fill='rgb(200,200,200)' fill-opacity='1'/%3E %3C/g%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23ellipse-1' fill='rgb(200,200,200)' fill-opacity='1'/%3E %3C/g%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23ellipse-2' fill='rgb(200,200,200)' fill-opacity='1'/%3E %3C/g%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23ellipse-3' fill='rgb(200,200,200)' fill-opacity='1'/%3E %3C/g%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23ellipse-4' fill='rgb(200,200,200)' fill-opacity='1'/%3E %3C/g%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23ellipse-5' fill='rgb(200,200,200)' fill-opacity='1'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
  }

  &:hover {
    .add-task-icon {
      display: flex;
    }
    &::before {
      display: block;
    }
  }

  .btn-add-task-mini {

  }


  .task-icon {
    background-repeat: no-repeat;
    background-position: center right;
    width: 60px;
    margin-top: -25px;
    margin-right: 30px;
    margin-left: -30px;

    &::before,
    &::after {
      content: "";
      display: block;
      border-left: 1px solid $light-grey;
      height: 30px;
      position: absolute;
      left: 17px;
      top: -30px;
    }
    &::after {
      top: 70%;
      height: 50px;
    }
  }

  .task-content {
    flex: 1;

    .task-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;

      .task-title {
        font-size: 18px;
        color: $medium-grey;
        height: 30px;
      }

      .task-actions {
        margin-right: -100px;
        opacity: 0;
        pointer-events: none;

        transition: all 200ms ease;
      }

      &:hover {
        .task-actions {
          margin-right: 0;
          opacity: 1;
          pointer-events: all;

          transition: all 400ms ease;
        }
      }
    }

    .task-infos {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}


.task-infos-actions {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex: 1;

  .task-infos-actions-item {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;

    &:hover {
      .task-infos-icon {
        // zoom: 1.1;
      }
      .task-infos-data {
        color: $medium-grey;
        border-bottom: 1px dotted $blue;
      }
    }
  }

  .task-infos-icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
  }

  .task-infos-data {
    color: $blue;
    padding-bottom: 0;
  }
}

// icons

.add-task-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $blue;
  color: $white;
  border: 2px solid transparent;

  border-radius: 50%;
  min-width: 1.3rem;
  min-height: 1.3rem;
  width: 1.3rem;
  height: 1.3rem;
  z-index: 1;

  transition: all 400ms ease;
  cursor: pointer;

  &:hover{
    border: 2px solid $blue;
    color: $blue;
    background-color: $white;

    transition: all 400ms ease;
  }
}

.icon-time { background-image:url("data:image/svg+xml,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='16' width='13'%3E %3Cdefs%3E %3Cpath id='path-0' opacity='1' fill-rule='evenodd' d='M11.5,4.600006103515625 L10.699996948242188,4.600006103515625 C12.100006103515625,5.79998779296875 13,7.600006103515625 13,9.5 C13,13.100006103515625 10.100006103515625,16 6.5,16 C2.899993896484375,16 0,13.100006103515625 0,9.5 C0,6.29998779296875 2.399993896484375,3.600006103515625 5.5,3.100006103515625 L5.5,1.70001220703125 L4.899993896484375,1.70001220703125 L4.899993896484375,0 L8.100006103515625,0 L8.100006103515625,1.70001220703125 L7.399993896484375,1.70001220703125 L7.399993896484375,3.100006103515625 C8.5,3.29998779296875 9.5,3.70001220703125 10.300003051757812,4.29998779296875 L10.300003051757812,3.399993896484375 L10.399993896484375,3.29998779296875 L11.300003051757812,2.399993896484375 C11.300003051757812,2.29998779296875 11.399993896484375,2.29998779296875 11.399993896484375,2.29998779296875 L12.600006103515625,3.399993896484375 L12.600006103515625,3.5 L11.600006103515625,4.5 C11.600006103515625,4.600006103515625 11.5,4.600006103515625 11.5,4.600006103515625 L11.5,4.600006103515625ZM1,9.5 C1,12.600006103515625 3.5,15 6.5,15 C9.5,15 12,12.600006103515625 12,9.5 C12,6.5 9.5,4 6.5,4 C3.5,4 1,6.5 1,9.5 L1,9.5Z'/%3E %3Cpath id='path-1' opacity='1' fill-rule='evenodd' d='M9.100000000000001,6.299999999999987 L6.2,9.299999999999988 C6,9.399999999999988 6,9.699999999999989 6.2,9.799999999999988 C6.4,9.999999999999988 6.6000000000000005,9.999999999999988 6.8,9.799999999999988 L9.7,6.899999999999988 C9.899999999999999,6.699999999999988 9.899999999999999,6.499999999999988 9.7,6.299999999999988 C9.5,6.199999999999989 9.3,6.199999999999989 9.100000000000001,6.299999999999987Z'/%3E %3C/defs%3E %3Cg opacity='1'%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23path-0' fill='rgb(189,189,189)' fill-opacity='1'/%3E %3C/g%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23path-1' fill='rgb(189,189,189)' fill-opacity='1'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E"); }

.icon-deadline { background-image:url("data:image/svg+xml,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='16.01000000000022' width='6.80645751953125'%3E %3Cdefs%3E %3Cpath id='path-0' opacity='1' fill-rule='evenodd' d='M1.7419355374593124,10.967742272892142 L1.7419355374593124,14.25806495475976 L5.032258219326939,14.25806495475976 L5.032258219326939,10.967742272892142 C4.580645302207853,10.7419358143326 4.000000123054742,10.612903552298576 3.387096878393126,10.612903552298576 C2.774193633731509,10.612903552298576 2.1935484545783983,10.7419358143326 1.7419355374593124,10.967742272892142Z'/%3E %3Cpath id='path-1' opacity='1' fill-rule='evenodd' d='M4.5161291711908635,6.032258250090631 C5.000000153818457,5.8709679225480995 5.064516284835468,5.612903398480049 5.064516284835468,5.3870969399205055 L5.064516284835468,4.548387236699341 C4.612903367716382,4.774193695258885 4.032258188563272,4.903225957292911 3.419354943901655,4.903225957292911 C2.806451699240038,4.903225957292911 2.2258065200869273,4.774193695258885 1.7741936029678413,4.548387236699341 L1.7741936029678413,5.3870969399205055 C1.7741936029678413,5.612903398480049 1.8387097339848537,5.8709679225480995 2.2903226511039394,6.032258250090631 C2.3225807166124457,6.032258250090631 2.3225807166124457,6.064516315599138 2.354838782120952,6.064516315599138 C2.8709678302570505,6.258064708650176 3.193548485342112,6.4838711672097205 3.419354943901655,6.774193756786277 C3.6129033369526917,6.516129232718226 3.9354839920377533,6.290322774158682 4.419354974665346,6.096774381107643 C4.419354974665346,6.064516315599137 4.483871105682358,6.032258250090631 4.5161291711908635,6.032258250090631Z'/%3E %3Cpath id='path-2' opacity='1' fill-rule='evenodd' d='M5.225799560546875,7.6129150390625 C5.19354248046875,7.6129150390625 5.161285400390625,7.6451416015625 5.1290283203125,7.6451416015625 C4.903228759765625,7.70965576171875 4.838714599609375,7.741943359375 4.80645751953125,7.774169921875 L4.80645751953125,8.225830078125 C4.838714599609375,8.225830078125 4.838714599609375,8.258056640625 4.8709716796875,8.258056640625 C6.096771240234375,8.6129150390625 6.80645751953125,9.48388671875 6.80645751953125,10.6129150390625 L6.80645751953125,15.45159912109375 C6.80645751953125,15.774169921875 6.54840087890625,16 6.258056640625,16 L0.54840087890625,16 C0.258056640625,16 0,15.741943359375 0,15.45159912109375 L0,10.6129150390625 C0,9.51611328125 0.67742919921875,8.6451416015625 1.838714599609375,8.29034423828125 C1.93548583984375,8.258056640625 1.967742919921875,8.225830078125 2,8.225830078125 L2,7.774169921875 C1.967742919921875,7.774169921875 1.8709716796875,7.70965576171875 1.67742919921875,7.6451416015625 C1.645172119140625,7.6451416015625 1.645172119140625,7.6129150390625 1.6129150390625,7.6129150390625 C0.580657958984375,7.225830078125 0,6.41937255859375 0,5.3870849609375 L0,0.54840087890625 C0,0.225830078125 0.258056640625,0 0.54840087890625,0 L6.258056640625,0 C6.54840087890625,0 6.80645751953125,0.258056640625 6.80645751953125,0.54840087890625 L6.80645751953125,5.3870849609375 C6.80645751953125,6.41937255859375 6.225799560546875,7.225830078125 5.225799560546875,7.6129150390625 L5.225799560546875,7.6129150390625ZM4.45159912109375,9.225830078125 C3.80645751953125,8.96771240234375 3.709686279296875,8.58062744140625 3.709686279296875,8.19354248046875 C3.709686279296875,8.1290283203125 3.709686279296875,8.06451416015625 3.67742919921875,7.96771240234375 C3.67742919921875,7.32257080078125 3.838714599609375,6.93548583984375 4.645172119140625,6.6451416015625 C4.645172119140625,6.6451416015625 4.67742919921875,6.6129150390625 4.709686279296875,6.6129150390625 C5.354827880859375,6.3870849609375 5.67742919921875,5.96771240234375 5.67742919921875,5.3548583984375 L5.67742919921875,1.06451416015625 L1.06451416015625,1.06451416015625 L1.06451416015625,5.32257080078125 C1.06451416015625,5.93548583984375 1.3870849609375,6.3548583984375 2.032257080078125,6.58062744140625 C2.032257080078125,6.6129150390625 2.06451416015625,6.6129150390625 2.06451416015625,6.6129150390625 C2.903228759765625,6.93548583984375 3.06451416015625,7.29034423828125 3.06451416015625,7.96771240234375 L3.06451416015625,8.19354248046875 C3.06451416015625,8.67742919921875 2.903228759765625,9.0322265625 2.225799560546875,9.32257080078125 L2.19354248046875,9.32257080078125 C1.483856201171875,9.54840087890625 1.096771240234375,9.96771240234375 1.096771240234375,10.6129150390625 L1.096771240234375,14.9031982421875 L5.709686279296875,14.9031982421875 L5.709686279296875,10.58062744140625 C5.709686279296875,9.93548583984375 5.290313720703125,9.48388671875 4.51611328125,9.258056640625 C4.51611328125,9.258056640625 4.483856201171875,9.225830078125 4.45159912109375,9.225830078125 L4.45159912109375,9.225830078125Z'/%3E %3C/defs%3E %3Cg opacity='1'%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23path-0' fill='rgb(189,189,189)' fill-opacity='1'/%3E %3C/g%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23path-1' fill='rgb(189,189,189)' fill-opacity='1'/%3E %3C/g%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23path-2' fill='rgb(189,189,189)' fill-opacity='1'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E"); }

.icon-client { background-image:url("data:image/svg+xml,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='15.79998779296875' width='13.79998779296875'%3E %3Cdefs%3E %3Cpath id='path-0' opacity='1' fill-rule='evenodd' d='M0.5999755859375,0 L13.0999755859375,0 C13.5,0 13.70001220703125,0.29998779296875 13.79998779296875,0.5999755859375 L13.79998779296875,4.20001220703125 C13.79998779296875,4.5999755859375 13.5,4.79998779296875 13.20001220703125,4.79998779296875 L11.70001220703125,4.79998779296875 L11.70001220703125,15.20001220703125 C11.70001220703125,15.5999755859375 11.4000244140625,15.79998779296875 11.0999755859375,15.79998779296875 L0.5999755859375,15.79998779296875 C0.29998779296875,15.79998779296875 0,15.5 0,15.20001220703125 L0,0.5999755859375 C0,0.29998779296875 0.29998779296875,0 0.5999755859375,0 L0.5999755859375,0ZM11.0999755859375,3.5999755859375 L12.5999755859375,3.5999755859375 L12.5999755859375,1.0999755859375 L1.0999755859375,1.0999755859375 L1.0999755859375,14.5999755859375 L10.5,14.5999755859375 L10.5,4.199951171875 C10.5,3.79998779296875 10.79998779296875,3.5999755859375 11.0999755859375,3.5999755859375 L11.0999755859375,3.5999755859375Z'/%3E %3Cpath id='path-1' opacity='1' fill-rule='evenodd' d='M2.5999999999999774,13.000000000000021 L8.999999999999977,13.000000000000021 C9.099999999999977,13.000000000000021 9.199999999999976,12.900000000000022 9.199999999999976,12.800000000000022 C9.199999999999976,12.700000000000022 9.099999999999977,12.600000000000023 8.999999999999977,12.600000000000023 L2.5999999999999774,12.600000000000023 C2.4999999999999774,12.600000000000023 2.3999999999999773,12.700000000000022 2.3999999999999773,12.800000000000022 C2.3999999999999773,12.900000000000022 2.4999999999999774,13.000000000000021 2.5999999999999774,13.000000000000021Z'/%3E %3Cpath id='path-2' opacity='1' fill-rule='evenodd' d='M2.5999999999999774,10.799999999999976 L8.999999999999977,10.799999999999976 C9.099999999999977,10.799999999999976 9.199999999999976,10.699999999999976 9.199999999999976,10.599999999999977 C9.199999999999976,10.499999999999977 9.099999999999977,10.399999999999977 8.999999999999977,10.399999999999977 L2.5999999999999774,10.399999999999977 C2.4999999999999774,10.399999999999977 2.3999999999999773,10.499999999999977 2.3999999999999773,10.599999999999977 C2.3999999999999773,10.699999999999976 2.4999999999999774,10.799999999999976 2.5999999999999774,10.799999999999976Z'/%3E %3Cpath id='path-3' opacity='1' fill-rule='evenodd' d='M4.399999999999977,4.900000000000046 C4.399999999999977,5.000000000000045 4.499999999999977,5.2000000000000455 4.599999999999977,5.2000000000000455 C4.599999999999977,5.900000000000046 5.199999999999977,6.500000000000045 5.799999999999978,6.500000000000045 C6.499999999999978,6.500000000000045 6.999999999999978,5.800000000000045 6.999999999999978,5.2000000000000455 C7.099999999999977,5.2000000000000455 7.199999999999978,5.100000000000046 7.199999999999978,4.900000000000046 C7.199999999999978,4.800000000000046 7.099999999999978,4.7000000000000455 7.099999999999978,4.7000000000000455 C7.099999999999978,4.500000000000045 7.199999999999978,4.400000000000046 7.199999999999978,4.2000000000000455 C7.199999999999978,3.4000000000000457 6.599999999999978,2.7000000000000455 5.799999999999978,2.7000000000000455 C4.999999999999978,2.7000000000000455 4.399999999999977,3.4000000000000457 4.399999999999977,4.2000000000000455 C4.399999999999977,4.400000000000046 4.399999999999977,4.500000000000045 4.499999999999977,4.7000000000000455 C4.399999999999977,4.7000000000000455 4.399999999999977,4.800000000000045 4.399999999999977,4.900000000000046Z'/%3E %3Cpath id='path-4' opacity='1' fill-rule='evenodd' d='M2.9000000000000443,8.899999999999999 L8.800000000000045,8.899999999999999 C8.900000000000045,8.899999999999999 8.900000000000045,8.8 8.900000000000045,8.8 L8.900000000000045,8.3 L8.900000000000045,8.2 C8.300000000000045,7.6000000000000005 7.600000000000045,7.2 6.900000000000045,7 L6.7000000000000455,7 L6.600000000000045,7 C6.400000000000045,7.2 6.100000000000045,7.2 5.800000000000045,7.2 C5.500000000000045,7.2 5.2000000000000455,7.2 5.000000000000045,7 L4.900000000000046,7 C4.100000000000046,7.2 3.3000000000000456,7.6 2.8000000000000456,8.2 L2.8000000000000456,8.8 C2.7000000000000455,8.8 2.8000000000000456,8.899999999999999 2.9000000000000443,8.899999999999999Z'/%3E %3Cpath id='path-5' opacity='1' fill-rule='evenodd' d='M13.100000000000023,5.600000000000023 L12.100000000000023,5.600000000000023 L12.100000000000023,10.100000000000023 L13.100000000000023,10.100000000000023 C13.400000000000023,10.100000000000023 13.700000000000022,9.900000000000023 13.700000000000022,9.500000000000023 L13.700000000000022,6.100000000000023 C13.700000000000022,5.800000000000023 13.500000000000023,5.600000000000023 13.100000000000023,5.600000000000023Z'/%3E %3Cpath id='path-6' opacity='1' fill-rule='evenodd' d='M13.100000000000023,10.899999999999977 L12.100000000000023,10.899999999999977 L12.100000000000023,15.699999999999976 L13.100000000000023,15.699999999999976 C13.400000000000023,15.699999999999976 13.700000000000022,15.499999999999977 13.700000000000022,15.099999999999977 L13.700000000000022,11.499999999999977 C13.700000000000022,11.199999999999976 13.500000000000023,10.899999999999977 13.100000000000023,10.899999999999977Z'/%3E %3C/defs%3E %3Cg opacity='1'%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23path-0' fill='rgb(189,189,189)' fill-opacity='1'/%3E %3C/g%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23path-1' fill='rgb(189,189,189)' fill-opacity='1'/%3E %3C/g%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23path-2' fill='rgb(189,189,189)' fill-opacity='1'/%3E %3C/g%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23path-3' fill='rgb(189,189,189)' fill-opacity='1'/%3E %3C/g%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23path-4' fill='rgb(189,189,189)' fill-opacity='1'/%3E %3C/g%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23path-5' fill='rgb(189,189,189)' fill-opacity='1'/%3E %3C/g%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23path-6' fill='rgb(189,189,189)' fill-opacity='1'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E"); }

.icon-attachment { background-image:url("data:image/svg+xml,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='18.327471999238696' width='11.515948021285112'%3E %3Cdefs%3E %3Cpath id='path-0' opacity='1' fill-rule='evenodd' d='M6.45439396846503,7.00046450089449 L5.793872115596841,10.953363842506182 C5.650279695779194,11.743122151503231 4.932317596690959,12.281593725819402 4.10666118273949,12.173899410956167 C3.316902873742433,12.030306991138524 2.7784312994262574,11.276446787095885 2.886125614289493,10.486688478098836 L4.10666118273949,3.0557807525356857 C4.322049812465961,1.7993470791312884 5.901566430460075,1.0095887701342385 7.050305789001249,1.1890792949062954 C8.270841357451246,1.4044679246327636 9.096497771402719,2.5532072831739265 8.917007246630659,3.7378447466695013 L7.050305789001249,15.297034541989957 C6.870815264229191,16.373977690622297 5.937464535414487,17.163735999619348 4.824623281827724,17.163735999619348 C4.716928966964488,17.163735999619348 4.573336547146842,17.163735999619348 4.465642232283607,17.127837894664935 C3.2451066638336097,16.912449264938466 2.4194502498821406,15.763709906397303 2.5989407746541993,14.579072442901728 L2.7066350895174343,13.717517923995857 '/%3E %3C/defs%3E %3Cg transform='translate(5.75797401064243, 9.163735999619348) rotate(15.000005363462504) translate(-5.75797401064243, -9.163735999619348)' opacity='1'%3E %3Cuse xlink:href='%23path-0' fill-opacity='0' stroke='rgb(189,189,189)' stroke-opacity='1' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/g%3E %3C/svg%3E"); }

.icon-default-task { background-image:url("data:image/svg+xml,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='26' width='26'%3E %3Cdefs%3E %3Cellipse id='ellipse-0' opacity='1' rx='13' ry='13' cx='13' cy='13'/%3E %3Cmask id='mask-1' maskUnits='userSpaceOnUse' maskContentUnits='userSpaceOnUse'%3E %3Crect opacity='1' x='0' y='0' width='26' height='26' fill='black'/%3E %3Cuse xlink:href='%23ellipse-0' fill='white'/%3E %3C/mask%3E %3C/defs%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23ellipse-0' fill='rgb(255,255,255)' fill-opacity='1'/%3E %3Cuse xlink:href='%23ellipse-0' fill-opacity='0' stroke='rgb(80,32,238)' stroke-opacity='1' stroke-width='6' stroke-linecap='butt' stroke-linejoin='miter' mask='url(%23mask-1)'/%3E %3C/g%3E %3C/svg%3E"); }

.icon-meeting-task { background-image:url("data:image/svg+xml,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='30.704630109478558' width='36.704630109478444'%3E %3Cdefs%3E %3Cellipse id='ellipse-0' opacity='1' rx='13' ry='13' cx='15.352315054739222' cy='15.352315054739279'/%3E %3Cmask id='mask-1' maskUnits='userSpaceOnUse' maskContentUnits='userSpaceOnUse'%3E %3Crect opacity='1' x='0' y='0' width='36.704630109478444' height='30.704630109478558' fill='black'/%3E %3Cuse xlink:href='%23ellipse-0' fill='white'/%3E %3C/mask%3E %3Cellipse id='ellipse-2' opacity='1' rx='13' ry='13' cx='21.352315054739222' cy='15.352315054739279'/%3E %3Cmask id='mask-3' maskUnits='userSpaceOnUse' maskContentUnits='userSpaceOnUse'%3E %3Crect opacity='1' x='0' y='0' width='36.704630109478444' height='30.704630109478558' fill='black'/%3E %3Cuse xlink:href='%23ellipse-2' fill='white'/%3E %3C/mask%3E %3Cpath id='path-4' opacity='1' fill-rule='evenodd' d='M16.352315054739222,15.352315054739279 L26.352315054739222,15.352315054739279 '/%3E %3Cpath id='path-5' opacity='1' fill-rule='evenodd' d='M16.352315054739222,12.352315054739279 L24.352315054739222,12.352315054739279 '/%3E %3Cpath id='path-6' opacity='1' fill-rule='evenodd' d='M16.352315054739222,18.35231505473928 L24.352315054739222,18.35231505473928 '/%3E %3C/defs%3E %3Cg opacity='1'%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23ellipse-0' fill='rgb(255,255,255)' fill-opacity='1'/%3E %3Cuse xlink:href='%23ellipse-0' fill-opacity='0' stroke='rgb(80,32,238)' stroke-opacity='1' stroke-width='6' stroke-linecap='butt' stroke-linejoin='miter' mask='url(%23mask-1)'/%3E %3C/g%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23ellipse-2' fill='rgb(255,255,255)' fill-opacity='1'/%3E %3Cuse xlink:href='%23ellipse-2' fill-opacity='0' stroke='rgb(255,51,102)' stroke-opacity='1' stroke-width='6' stroke-linecap='butt' stroke-linejoin='miter' mask='url(%23mask-3)'/%3E %3C/g%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23path-4' fill-opacity='0' stroke='rgb(255,51,102)' stroke-opacity='1' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter'/%3E %3C/g%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23path-5' fill-opacity='0' stroke='rgb(255,51,102)' stroke-opacity='1' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter'/%3E %3C/g%3E %3Cg opacity='1'%3E %3Cuse xlink:href='%23path-6' fill-opacity='0' stroke='rgb(255,51,102)' stroke-opacity='1' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E"); }
