body {
  font-family: sans-serif;
  padding: 2em;
  height: 100%;
}

.w50 {
  width: calc( 50% - 20px );
  float: left;
}
.w50 + .w50 {
  margin-left: 40px;
}
.w100 {
  width: 100%;
  display: block;
}
.w100 + .w100 {
  margin-top: 40px;
}

.inyo-design-system {
  display: flex;
  flex-direction: row;
}

.h2-like {
  margin: 2em .5em;
}

section {
  margin-bottom: 50px;
  display:flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  margin-bottom: 3em;
}

.visual {
  font-family: 'Work Sans';
  width: 50%;
}

.code {
  width: 30%;
  font-family: monospace;
  padding-left: 2em;
}

.titre {
  width: 20%;
  font-size: .8em;
}

.debug {
  border: 1px solid red;
  text-align: center;
  padding: 1em;
  justify-content: center;
  color: red;
}
.page-wrapper { min-height: 80vh; }
