/* Colors */
$white: #fff;
$black: #333;
$blue: #5020ee;
$red: #ff3366;
$light-grey: #c7c7c7;
$medium-grey: #828282;

/* Buttons  */

.btn {
  font-size: 13px;
  font-family: 'Work Sans', sans-serif;
  padding: .3rem .8rem;

  border: 2px solid $black;
  border-radius: 30px;

  cursor: pointer;
  transition: all 200ms ease;

  &:hover {
    color: $white;
    background-color: $black;
    transition: all 300ms ease;
  }

  &.btn-blue {
    color: $blue;
    border-color: $blue;

    &:hover {
      color: $white;
      background-color: $blue;
    }
  }

  &.btn-red {
    color: $red;
    border-color: $red;

    &:hover {
      color: $white;
      background-color: $red;
    }
  }

  &.btn-grey {
    color: $medium-grey;
    border-color: $light-grey;

    &:hover {
      border-color: $blue;
      color: $white;
      background-color: $blue;
    }
  }

  &.btn-small {
    padding: .15rem .6rem;
  }

  &.btn-big {
    font-size: 14px;
    font-weight: 600;
    padding: .6rem 1.2rem;
  }

  &.btn-primary {
    font-weight: 400;
    background-color: $blue;
    color: $white;

    &:hover {
      border-color: $white;
    }
  }


  &.btn-icon {
    &::before {
      margin-right: .4rem;
      color: $blue;
      font-weight: 600;
    }

    &:hover {
      border-color: $blue;

      &::before {
        color: $white;
      }
    }
  }

  &.btn-create-task {
    &::before {
      content: "'↵'";
    }
  }

  &.btn-create-project {
    &::before {
      content: "'↑'";
    }
  }

  &.btn-done {
    &::before {
      content: "✓";
    }
  }

  &.btn-red {
    &.btn-done {

      &::before {
        color: $red;
      }

      &:hover {
        border-color: $red;
        &::before {
          color: $white;
        }
      }
    }
  }

  &.btn-done-tiny {
    padding: 0;
    height: 30px;
    width: 30px;
    &::before {
      content: "✓";
      margin-right: 0;
    }
  }

  &.btn-add {
    &::before {
      content: "+";
    }
  }
}


/* Typography */

h1, h2, h3, .h1, .h2, .h3 {
  margin: 0;
}

.task-title {
  font-size: 18px;
  color: $medium-grey;
}

.sub-title {
  font-size: 12px;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: $light-grey;
}

.text {
  font-size: 14px;
  line-height: 1.4;
  color: $medium-grey;
}

label {
  font-size: 14px;
  color: $medium-grey;
}

a {
  font-size: inherit;
  color: $blue;

  text-decoration: none;
  border-bottom: 2px solid transparent;

  &:hover {
    border-color: $blue;
    transition: all 300ms ease;
  }
}
